.form{
background: transparent;
font-size: 1.2em;
text-align: center;
}
.form button{
    border-radius: 7px;
    background: var(--button-bg);
    display: inline-block;
    padding: 10px 20px;
margin: 10px;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing:1px;
  cursor: pointer;
}
.form select{
    padding: 10px 20px;
    border-radius: 7px;
    background: var(--input-bg);
    border:none;
    color:white;
}