.menu-item{
    display: flex;
    justify-content: space-around;
   padding: 20px 0;
  border-radius: 10px;
    background: var(--secondary-bg);
    
}
.description{
    width: 30%;
}
.menu-item span{
   display: grid;
   place-items: center;
}
