.item-list{
     list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0.8rem;
    margin: 0.5rem;
height: 100%;
overflow-y: scroll;
overflow-x:hidden;
 border-radius: 12px;   
}

::-webkit-scrollbar {
    width:5px;
   
}
 

::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 200px 0;
   
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:var(--button-bg); 
   
}


@media screen and (max-width: 480px) {
  .item-list {
 
  }
}

