.header{
    height: 160px;
    width: 100%;
    overflow: hidden;
  padding: 10px;
   
    
}
.header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   
    animation: fadeIn 2.5s;
}


@media screen and (min-width: 480px) {
  .header {
  height: 300px;
  }
}

.hide{
  display: none;
}


@keyframes fadeIn {

  0% {
    opacity: 0;
  }
 
  100%{
    opacity: 1;
  }
  
}