@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&display=swap');
:root{
  --primary-bg:#201E1E;
  --secondary-bg:#333131;
  --input-bg:#201E1E;
  --button-bg:#EEBC18;
}
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  
}
body {
  margin: 0;
 background: var(--primary-bg);
 color: white;
 font-family: 'Nunito', sans-serif;
 
}


